*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
}
.nav-bar{
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: sticky;
  top:0px; */
  color: white;
}
.nav-bar h3{
  font-size: 25px;
  color: #c6924a;
  font-family: 'Pacifico', cursive;
}
.lists{
  list-style: none;
  height: 80px;
  /* max-width:1000px; */
  /* margin-left: auto; */
  /* text-decoration: none; */
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  color: white;
}
.lists a{
   text-decoration: none;
   color: white;
}
.d1{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
}

body{
  background-color: #f2f2f2;
}




.section0{
  background-color: #333;
  padding: 150px 0;
  text-align: center;
  position: relative;
  margin-top: 0px;
  padding-top: 80px;
  height: 850px;
}
.d2-container{
  width: 85%;
  margin: auto;
  position: relative;
  /* padding-top: 0px; */
}
@keyframes flicker{
  0%{opacity:1;}
  50%{opacity: 0.6;}
  100%{opacity: 1;}
}
.img1{
animation:flicker 1.5s infinite;
}
.img2{
animation:flicker 2s infinite;
}
.img3{
animation:flicker 1.2s infinite;
}
.d21{
  position: absolute;
  top: -80px;
  left:50%;
  transform:translate(-50%);
  display: flex;
  gap:40px;
}
.d22{
  text-align: center;
  padding: 25px;
}
.welcome{
  margin: 0px;
  font-size: 45px;
  color: white;
  letter-spacing: 2px;
  margin-bottom:10px;
  font-family: 'Pacifico', cursive;
}
.cafe-house{
  font-size: 50px;
  color:  #e0b145;
  font-weight: bold;
  margin-top: -10px;
  letter-spacing: 3px;
}
.para-template{
  width: 60%;
  margin: 20px auto;
  color: rgb(200, 200, 200);
  font-size: 16px;
  line-height: 1.6;
}
.d22 a {
    display: inline-block;
    background-color: #e0b145;
    color: black;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
}
.d22 a:hover {
    background-color: #f5d374;
}





.contact-section {
    width: 85%;
    margin: auto;
    padding: 50px 0;
}

.contact-section h2 {
    font-size: 30px;
    margin-left: 90px;
    margin-bottom: 40px;
    color: #333;
}
.contact-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #d1a872;
    font-size: 16px;
    outline: none;
}

.contact-form textarea {
    height: 180px;
    resize: none;
}
.send-btn {
    width: 220px;
    padding: 15px;
    /* border: none; */
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.map-box {
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
}

.map-box iframe {
    width: 100%;
    height: 430px;
    border: none;
    border-radius: 15px;
}

















.footer-section {
  background: #2f2f2f;
  color: white;
  font-family: "Segoe UI", sans-serif;
}
.footer-top {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 80px;
  gap: 10px;
  max-width: 85%;
  margin: auto;
}
.footer-column {
  width: 33%;
}
.footer-column h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 10px 0;
}
.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer-column p {
  font-size: 15px;
  line-height: 1.7;
  color: #d8d8d8;
}
.social-icons img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
}
.footer-bottom {
  text-align: center;
  background: #f5f3f3;
  padding: 15px 0;
  font-size: 14px;
  color: #2a2929;
}
.footer-bottom a {
  color: #cccccc;
  text-decoration: underline;
}






.lists li a:active{
color: #c6924a;;
}
.lists li a:hover{
color: #c6924a;
}






/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-bar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
    gap: 15px;
  }
  .d1 img {
    width: 60px;
  }
  .lists {
    width: 70%;
    gap: 20px;
  }

  .section0 {
    width: 100%;
    padding: 100px 0 60px;
  }
  .d2-container img {
    width: 80%;
  }
  .para-template {
    width: 75%;
  }
  .d21 img.img3 {
    display: none;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .contact-form {
    width: 50%;
  }
  .map-box {
    width: 50%;
  }

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-column {
    width: 45%;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .nav-bar {
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
  }
  .d1 img {
    width: 50px;
  }
  .lists {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .section0 {
    padding: 120px 0 60px;
  }
  .d2-container img {
    width: 80%;
  }
  .para-template {
    width: 90%;
  }
  .d21 img.img2,
  .d21 img.img3 {
    display: none;
  }
  .contact-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .contact-form,
  .map-box {
    width: 100%;
  }
  .map-box iframe {
    width: 100%;
    height: 300px;
  }
  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .footer-column {
    width: 100%;
  }
}
